.create-appointment-button {
    float: left !important;
}
/* Style for the form container */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  max-width: 500px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

/* Style for the form inputs */
label {
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="text"],
input[type="tel"] {
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

input[type="checkbox"] {
  margin-bottom: 20px;
}

/* Style for the buttons */

button[type="submit"] {
  background-color: #27ae60;
  margin-left: 10px;
}

button:hover {
  opacity: 0.8;
}

/* Media query for small screens */
@media screen and (max-width: 600px) {
  form {
    margin: 20px auto;
  }
}
