<div>
  <h2>Create an appointment</h2>
  <form (ngSubmit)="save()">
    <div>
      <label for="reason">Reason:</label>
      <input type="text" id="reason" name="reason"
                   [(ngModel)]="appointment.reason" required />
    </div>
    <div>
      <label for="insurance-change">Insurance Change:</label>
      <input type="checkbox"  id="insurance-change" name="insurance-change"
               [(ngModel)]="appointment.insuranceChange"  />
    </div>
    <div>
      <label for="phone-number">Phone Number:</label>
      <input type="text" id="phone-number" class="form-control" name="phone-number" id="field_phoneNumber"
                   [(ngModel)]="appointment.phoneNumber" required />
    </div>
    <div>
      <button type="button">Cancel</button>
      <button type="submit" >Save</button>
    </div>
  </form>
  {{ appointment | json }}
</div>

<!-- Modal -->
<div class="modal fade" id="appointmentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Create Appointment</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          ..
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="save()">Save changes</button>
      </div>
    </div>
  </div>
</div>
